.body {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-left: 20vw;
  display: inline-flex;
}

.left {
  padding-right: 2em;
  padding-left: 4em;
  border-right: 1px solid #c9c9c9;
}

.right {
  background-color: #f7f7f7;
  padding: 2em;
  width: 44vw;
}
.prod {
  height: 100vw;
}
.emertimet,
.produktet {
  display: inline-flex;
  margin-left: 2em;
  border-bottom: 1px solid #c9c9c9;
}

.produktet {
  padding-top: 10em;
  margin-top: 2em;
  height: 20em;
  padding-bottom: 1em;
}

.produkti,
.cmimi,
.sasia,
.cmimi-total {
  font-weight: bold;
}

.produkti {
  width: 17vw;
}

.cmimi,
.sasia,
.cmimi-total {
  margin-left: 1em;
  width: 7vw;
}

.sasia {
  max-height: 2.5em;
}
