body {
  margin: 0;
  padding: 0;
}

.body {
  margin-left: 20%;
  margin-right: 20%;
}

.header-top,
.header-main {
  padding-left: 20%;
  padding-right: 20%;
}

.header {
  border-bottom: solid #e2e2e2 1px;
  min-width: 100%;
}
.header .header-top {
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  max-height: 5em;
}
.header .title {
  color: white;
  text-decoration: none;
  margin-right: 6em;
  float: left;
  margin-top: 0.25em;
  font-size: xx-large;
  margin-bottom: auto;
  margin-left: 1em;
}

.header .search {
  background-color: #242424;
  border: none;
  display: inline-block;
  width: 40%;
  padding: 1em;
  max-height: 4em;
}

.header .search input {
  width: 90%;
  background-color: #242424;
  border: none;
  height: 100%;
  font-size: large;
  color: white;
  display: inherit;
  float: left;
  height: inherit;
}

.search #search-img {
  float: right;
  display: inherit;
  width: 1.5em;
}
.header .user {
  color: white;
  font-size: large;
  width: fit-content;
  float: right;
}

.user #kyqu {
  padding-right: 1em;
  padding-top: 0.5em;
  color: white;
  display: inline-flex;
}
.user #shporta {
  border-left: solid white 1px;
  border-right: solid white 1px;
  padding-left: 1em;
  padding-right: 1em;
  width: 2em;
  height: 2em;
  padding-top: 0.5em;
  display: inline-flex;
}
.nav {
  list-style-type: none;
  background-color: white;
  overflow: hidden;
  padding: 0;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-height: 5.5em;
}

li {
  float: left;
  border-right: solid #e2e2e2 1px;
  display: block;
  text-align: center;
}

.nav li {
  text-align: center;
  font-size: large;
  padding-top: 1.8em;
  width: 10em;
  color: #242424;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 1.8em;
}
.nav li:hover {
  background-color: #f7f7f7;
}

.img {
  display: inline-block;
}
.img #img-img1 {
  background-color: black;
  width: 50%;
  float: left;
  display: inherit;
  height: 20em;
}
.img #img-img2 {
  width: 40%;
  display: inherit;
}

.body .slide-img {
  width: 100%;
  height: 20em;
  background-color: black;
}

.items .m-items {
  width: 100%;
  height: 100%;
  list-style-type: none;
  overflow: hidden;
  padding: 1em;
}

.items .m-items #img {
  width: 100%;
  padding-top: 10em;
  height: 9em;
  padding-bottom: 8em;
}

.item-img {
  width: 90%;
  height: 80%;
}

.items .m-items #item-decription {
  overflow: hidden;
  width: 90%;
  padding: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.items .m-items .item {
  border: 1px solid #e5e5e5;
  width: 20em;
  height: fit-content;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.items .m-items .item:hover {
  width: 21em;
  margin-left: 0.7em;
}
.item-options {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
  height: fit-content;
  width: 100%;
}

.items .m-items .item-options li {
  height: 3em;
  float: left;
  border: none;
  text-align: center;
  background-color: #e8e8e8;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.2em;
}
.items .m-items .item-options li:hover {
  background-color: chocolate;
  color: white;
}

.heart-link,
.detajet-link,
.shopping-cart-link {
  padding: 0;
  width: 100%;
  margin: 0;
}
.item-options-detajet {
  width: 60%;
}

.item-options-shporta,
.item-options-heart {
  width: 17%;
}

.heart-img,
.shopping-cart-img {
  width: 70%;
  height: 70%;
}

a {
  text-decoration: none;
  color: #828282;
}
